@page "/logout"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.WebUtilities

<h1>Logout</h1>
@code
{
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery(Name = "origin")]
    private string? Origin { get; set; }

    [SupplyParameterFromQuery(Name = "alertId")]
    private string? AlertIdStr { get; set; }

    [Inject] 
    NavigationManager Navigation { get; set; }

    private async Task LogoutHandler()
    {
        // Sign out the user by clearing the authentication cookie
        await HttpContext.SignOutAsync(CookieAuthenticationDefaults.AuthenticationScheme);
        
        var query = new Dictionary<string, string?> { { nameof(Origin), Origin }, { nameof(AlertIdStr), AlertIdStr } };
        Navigation.NavigateTo(QueryHelpers.AddQueryString("/", query), true);
    }
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LogoutHandler();
    }

}
