@page "/protected"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager _navigationManager
@rendermode InteractiveAuto
<h3>Protected Content</h3>

<p>You are authenticated!</p>

<RadzenButton Click=@Logout Text="Logout" ButtonStyle="ButtonStyle.Primary" />
@code {
    private async Task Logout()
    {
        // await Http.GetAsync("Account/Logout");

        _navigationManager.NavigateTo("/login");

    }
}